
body{
    /*text*/
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;

    display: block;

    padding: 0;
}


/*Header content------------------------------*/
header{
    /*display*/
    display: flex;
    justify-content: center;
    /*Box*/
    background-color: black;
    margin-bottom: 20px;
    font-size: 4em;
    /*Text*/
    color: white;
}
/*Main content------------------------------*/

main{
    /*display*/
    display: flex;
    flex-flow: row wrap;
    /*box*/
    border: 1px solid black;
    width: 500px;
    margin: 0 auto;
}

.square{
    width: 100px;
    height: 100px;
    background-color: black;
}

.square:nth-last-of-type(2n){
    background-color: red;
}

/*Footer*/
footer{
    /*display*/
    display:flex;
    justify-content: center;
    flex-basis: 100%;
    /*text*/
    font-size: 4rem;
    color: white;
    /*box*/
    background-color: black;
    margin-top: 20px;
}