body{
    /*text*/
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;

    display: block;
}

main{
    /*display*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    /*box*/
    border: 2px solid black;
    width: 1000px;
    margin: 0 auto;
}

.square{
    flex-basis: 200px;
    height: 200px;
    background-color: black;
}

.square:nth-last-of-type(2n){
    background-color: red;
}